.margin5
{
    margin: 5px;
}

.margin-top-bottom5
{
    margin-top: 5px;
    margin-bottom: 5px;
}


.margin-top20
{
    margin-top: 20px;
}

.padding0
{
    padding: 0px;
}

.margin0
{
    margin: 0px;
}

.hand-cursor{
    cursor: pointer;
}

.noanimate {
  transition: none !important;
}